.rowBase {
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

.rowLikeLast {
    position: relative;
}

.rowLikeLast::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 3px solid black;
}

.rowLike {
    background: rgb(255, 255, 224);
}

.rowBase .ant-table-cell {
    padding: 2px;
}

.RankTable {
    width: auto;
}

.RankTable .ant-table-cell {
    text-align: center;
    margin: 0 auto;
    padding: 2px;
}

.ProHeader .ant-table-cell {
    padding-top: 0;
    padding-bottom: 0;
}

.RankSummary {
    height: 100px;
    font-size: 16px;
}

.RankSummary-Pro {
    font-size: 11px;
}

.accepted {
    background-color: rgb(96, 231, 96);
}

.rejected {
    background-color: rgb(232, 114, 114);
}

.firstAccept {
    background-color: rgb(29, 170, 29);
}

.pending {
    background-color: #66f;
}
