.problemSet-overview-table .ant-table-cell {
    text-align: center;
    margin: 0 auto;
}

.problemSet-overview-table .TestCase-text {
    text-align: center;
}

.problemSet-overview-table{
    margin-top: 24px;
}
