@import "~antd/dist/antd.css";

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo {
    height: 32px;
    margin: 16px 16px 16px 35px;

}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

#root, body, html {
    height: 100%;
}

.steps-content {
    margin-top: 16px;
    text-align: center;
    background-color: #fafafa;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
}

.steps-content-pending {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    min-height: 200px;
}

.steps-content-compile {
    text-align: left;
    min-height: 100px;
}

.steps-content-compile-spin {
    min-height: 100px;
}

.test-case, .test-case-e {
    margin-top: 6px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: inline-table;
    float: left;
}
.test-case .ant-tag{
    font-size: 15px;
}

.test-case-e .ant-tag{
    padding-top: 3px;
    text-align: left;
    font-size: 15px;
    min-width: 130px;
    min-height: 30px;
}

.steps-content-evaluation {
    overflow: hidden;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

.steps-content-summary{
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    overflow: hidden;
    text-align: left;
}
.steps-content-summary .card{
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Progress-set{
    display: inline-grid;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.card .ant-card-body{
    text-align: center;
}

.Progress-set-Statistic{
    text-align: center;
}
.Progress-set-Statistic-cell{
    margin-top: 10px;
}
.tag-simple{
    line-height: 1.4;
    margin-right: 0;
}

.TestCase-text{
    text-align: left;
}

.JudgeResult-tab .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab{
    padding: 0 8px;
    margin-top: 4px;
}
.Problem-card .ant-card-body{
    padding-top: 0;
    height: 100%;
}

.Problem-card{
    height: 100%;
}