@import "~antd/dist/antd.css";
@import "~vditor/dist/index.css";
@import "~@ant-design/pro-form/dist/form.min.css";
@import '~@ant-design/pro-table/dist/table.min.css';
@import '~@ant-design/pro-layout/dist/layout.min.css';
@import "~@ant-design/pro-card/dist/card.min.css";
@import "~@ant-design/pro-list/dist/list.min.css";
@import "~@ant-design/pro-descriptions/dist/descriptions.min.css";


.logo {
    height: 32px;
    margin: 16px 16px 16px 35px;

}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

#root, body, html {
    height: 100%;
}

.steps-content {
    margin-top: 16px;
    text-align: center;
    background-color: #fafafa;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
}

.steps-content-pending {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.steps-content-compile {
    padding: 30px;
    text-align: left;
    min-height: 600px;
}

.steps-content-compile-spin {
    min-height: 100px;
}

.test-case, .test-case-e {
    margin-top: 6px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: inline-table;
    float: left;
}

.test-case .ant-tag {
    font-size: 15px;
}

.test-case-e .ant-tag {
    padding-top: 3px;
    text-align: left;
    font-size: 15px;
    min-width: 130px;
    min-height: 30px;
}

.steps-content-evaluation {
    overflow: hidden;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

.steps-content-summary {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    overflow: hidden;
    text-align: left;
}

.steps-content-summary .card {
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Progress-set {
    display: inline-grid;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.card .ant-card-body {
    text-align: center;
}

.Progress-set-Statistic {
    text-align: center;
}

.Progress-set-Statistic-cell {
    margin-top: 10px;
}

.tag-simple {
    line-height: 1.4;
    margin-right: 0;
}

.TestCase-text {
    text-align: left;
}

h3.TestCase-text {
    margin-bottom: 0;
}

h4.TestCase-text {
    margin-bottom: 0;
}

h5.TestCase-text {
    margin-bottom: 0;
}

.JudgeResult-tab .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
    padding: 0 8px;
    margin-top: 4px;
}

.Problem-card .ant-card-body {
    padding-top: 0;
    height: 100%;
}

.Problem-card {
    height: 100%;
}

.Database-list-card .ant-card-body {
    padding: 0;
}

.Database-list-card .ant-tree .ant-tree-treenode {
    padding-bottom: 0;
}

.Progress-set .ant-progress-circle .ant-progress-text {
    font-size: 15px;
}

.Timer .ant-statistic-title {
    color: #282c34;
    font-size: 20px;
}

.Timer .ant-statistic-content-value {
    color: #e10000;
    font-size: 17px;
}

.contestTimer .ant-statistic-content {
    font-size: 16px;
}

.contestHeaderTimer .ant-statistic-content {
    font-size: 14px;
    color: blue;
}

.Timer .ant-card {
    /*max-width: 350px;*/
    margin: 0 auto;
    text-align: center;
}

.Ewait .Ewait-content {
    max-width: 550px;
    margin: 0 auto;
}


.ProTag .ant-badge-count, .ant-badge-dot, .ant-badge .ant-scroll-number-custom-component {
    right: 10px;
}

.ProTag {
    float: left;
}

.ProTag .ant-tag {
    text-align: center;
    min-width: 30px;
    font-size: 15px;
}

.ProTag-active {
    border: 4px #40a9ff;
}

.ExamAnswerSheet {
    width: 100%;
    margin: 20px auto 0;
}

.ExamAnswerSheet .ant-card-meta-title {
    text-align: center;
    font-size: 20px;
}

.ProTagGroup .ant-card-meta-title {
    text-align: left;
    font-size: 16px;
}

.ProTagGroup {
    margin-top: 10px;
    margin-bottom: 5px;
}

.ProTagGroup .ant-card-body {
    padding-bottom: 0;
}

.Problem {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    min-width: 600px;
}

.Problem .ant-card-head {
    background: #f7f7f7;
    font-size: 17px;
}


.Choice .ant-card-head {
    border-bottom: 0;
    font-size: 17px;
    margin-left: 25px;
    background: none;
}

.Choice-title {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 17px;
}

.Choice-pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.preAutoLine {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.mgb0 {
    margin-bottom: 0;
}


.ExamPageCtrl {
    margin-top: 20px;
    text-align: center;
}

.ExamPageCtrl-Number {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
}

.ExamRun {
    margin: 50px;
    min-width: 1300px;
}

.ExamRun-ExamAnswerSheet .Timer .Timer-inline-card {
    width: 100%;
}

.ExamRun-ExamAnswerSheet {
    margin-left: 30px;
}


.Timer-inline-card .ant-card-body {
    padding: 5px;
}

.Timer-inline {
    font-size: 16px;
    margin-top: 6px;
}

.exam-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.exam-content {
    width: 100%;
    flex: 1 0 auto;
}

.Problem-Program .ant-card-head {
    background: white;
    font-weight: bold;
    font-size: 22px;
}

.exam-wait-tip .ant-card-meta-description {
    color: black;
    text-align: left;
}

.exam-wait-tip .ant-list-items {
    font-size: 14px;
}

.exam-wait-tip .ant-card-meta-title {
    font-size: 18px;
}

.exam-wait-card {
    margin-top: 20px;
}

.exam-wait-card .ant-card-meta-title {
    font-size: 18px;
}

.page-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row-dragging {
    background: #fafafa;
    border: 1px solid #ccc;
    z-index: 1001;
}

.row-dragging td {
    padding: 16px;
}

.row-dragging .drag-visible {
    visibility: visible;
}

.exam-form .ant-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    min-width: 1300px;
}

.exam-form-preview .ant-card-meta-title {
    font-size: 14px;
}

.ant-form-item-control-input .ant-checkbox-group-item {
    float: left;
    margin-left: 10px;
}

.exam-form-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 1250px;
    height: 58px;
    text-align: right;
}

.exam-card-img {
    position: absolute;
    top: 21px;
    right: 20px;
}

.ant-form-item-explain {
    text-align: left;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.nowPro {
    position: relative;
    bottom: 28px;
    height: 22px;
    width: 30px;
    border: 2px solid red;
}

.tag-div {
    height: 22px;
}

.Problem {
    max-width: 1400px;
}

.ExamRun-ExamAnswerSheet .Recent-submission {
    min-width: 500px;
    width: 500px;
    margin: 20px auto 0;
}

.Recent-submission {
    width: 1200px;
    margin-top: 30px;
}

.SyntaxHighlighter-Copy .ant-typography-expand, .ant-typography-edit, .ant-typography-copy {
    color: white;
}

.SyntaxHighlighter-Copy {
    position: relative;
    float: right;
    right: 50px;
    top: 10px;
    width: 50px;
    margin: 0;
    font-size: 18px;
}

.Badge-Tooltip-Program {
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 1px 3px;
}

.Processing-SyncJudging {
    position: relative;
    top: -62px;
    left: 85%;
}

.CodeMirror {
    min-height: 500px;
}

.ProblemAddChecker .CodeMirror {
    min-height: 200px;
}

.ant-message {
    z-index: 3000;
}

.ant-card-small > .ant-card-head > .ant-card-head-wrapper > .ant-card-extra {
    padding: 0;
}

.ant-card-extra {
    padding: 0;
}

.problemBody .ant-card-body {
    padding-top: 0;
}

.smallBodyPaddingTop .ant-card-body {
    padding-top: 1px;
    padding-bottom: 10px;
}

.smallBodyPadding .ant-card-body {
    padding: 5px;
}

.zeroBodyPadding .ant-card-body {
    padding: 0;
}

.zeroBodyPaddingLeft .ant-card-body {
    padding: 5px 15px 30px 0;
}

.ListPage .ant-list-item {
    padding-top: 0;
    padding-bottom: 0;
}

.ListPage .ant-form-item {
    margin-top: 5px;
    margin-bottom: 10px;
}

.GroupPage .ant-form-item {
    margin-top: 16px;
    margin-bottom: 10px;
}

.ListPage .ant-list-item-meta-title {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 15px;
}

.ListPage .ant-list-item-meta-description {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 15px;
}

.ListPage .ant-list-item-meta {
    margin-bottom: 8px;
}

.bodyCenter .ant-card-body {
    text-align: center;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
    vertical-align: middle;
}

.overview-table .ant-table-cell {
    text-align: center;
    margin: 0 auto;
}

.overview-table .TestCase-text {
    text-align: center;
}

.Problem-Program .ant-typography-copy {
    color: black;
}

/*滚动条高宽度*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/*滚动条滑块*/
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #c7c4c4;
}

/*滚动条里面轨道*/
::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;

}

/*滚动条的小边角*/
::-webkit-scrollbar-corner {
    background: transparent;
}

.GroupListItemCard .ant-card-body {
    padding-bottom: 0;
}

.GroupListItemCard.ant-card-bordered {
    border: 2px solid rgba(222, 222, 222, 0.75);
    border-radius: 12px;
}

.GroupListItemCard .ant-card-actions {
    border-radius: 12px;
}

.GroupPage .ant-card-head {
    border-bottom: 0;
}

/*.GroupPage .ant-card-body{*/
/*    padding-bottom: 12px;*/
/*}*/

.GroupPage .ant-list-pagination {
    margin-top: 12px;
}